# OLX Scraped data exploration

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import plotly.express as px
import plotly.io as pio
pio.renderers.default = "notebook_connected"

## Load July data

In [2]:
olx_july = pd.read_csv('olx_data_July_2022.csv', index_col=0)

In [3]:
olx_july

,id,createdTime,lastRefresh,price,location,price_per_m,floor_select,furniture,market,builttype,m,rooms
0,768363364,2022-07-12T07:31:33+02:00,2022-07-12T08:46:09+02:00,369000.00,Lublin,8413.13,floor_3,yes,primary,blok,43.86,two
1,770669865,2022-07-23T17:10:10+02:00,2022-07-23T17:15:01+02:00,320000.00,Lublin,8350.73,floor_9,yes,secondary,blok,38.32,two
2,770827035,2022-07-24T17:17:46+02:00,2022-07-24T17:22:19+02:00,280000.00,Lublin,7179.49,floor_7,yes,primary,blok,39.00,two
3,743922570,2022-03-16T23:10:21+01:00,2022-07-24T15:45:34+02:00,599999.99,Lublin,8571.43,floor_3,yes,secondary,blok,70.00,three
4,760211383,2022-06-02T10:20:27+02:00,2022-07-24T15:37:09+02:00,480000.00,Lublin,7993.34,floor_3,no,secondary,blok,60.05,three
...,...,...,...,...,...,...,...,...,...,...,...,...
386,755080730,2022-05-08T13:00:47+02:00,2022-07-13T12:23:36+02:00,450000.00,Lublin,7807.08,floor_3,yes,secondary,blok,57.64,three
387,766604942,2022-07-04T10:37:35+02:00,2022-07-13T12:11:12+02:00,430000.00,Lublin,9129.51,floor_6,no,secondary,blok,47.10,two
388,744501317,2022-03-19T16:22:12+01:00,2022-07-23T14:44:32+02:00,339000.00,Lublin,8692.31,floor_7,no,secondary,blok,39.00,two
389,770669865,2022-07-23T17:10:10+02:00,2022-07-23T17:15:01+02:00,320000.00,Lublin,8350.73,floor_9,yes,secondary,blok,38.32,two
390,746524410,2022-03-28T13:22:02+02:00,2022-07-14T12:26:09+02:00,369000.00,Lublin,8581.40,floor_3,no,secondary,blok,43.00,two

In [4]:
olx_july.describe()

                 id         price   price_per_m           m
count  3.910000e+02  3.910000e+02    391.000000  391.000000
mean   7.564628e+08  4.702944e+05   8876.684118   53.417187
std    2.254519e+07  2.722958e+05   3495.238137   22.272405
min    6.235232e+08  1.100000e+05   3000.000000   22.000000
25%    7.539999e+08  3.350000e+05   7916.670000   40.000000
50%    7.654554e+08  4.150000e+05   8513.570000   48.800000
75%    7.690393e+08  5.200000e+05   9560.660000   57.620000
max    7.708270e+08  3.400000e+06  70833.330000  150.000000

In [5]:
bloki1 = olx_july[olx_july['builttype'] == 'blok']

## Load Otodom data

In [6]:
od_july = pd.read_csv('otodom_data_July_2022.csv', index_col=0)

In [7]:
od_july.dropna(inplace=True)

In [8]:
od_july.describe()

,m,build_year,id,price,price_per_m2,rooms
count,461.000000,461.000000,4.610000e+02,4.610000e+02,461.000000,461.000000
mean,57.278525,1993.650759,6.303863e+07,4.944046e+05,8741.874187,2.772234
std,18.082816,92.706676,3.608855e+05,1.761078e+05,1707.662291,0.863618
min,20.520000,80.000000,6.111528e+07,1.430000e+05,2810.000000,1.000000
25%,47.080000,1979.000000,6.292530e+07,3.890000e+05,7780.000000,2.000000
50%,56.000000,2005.000000,6.316059e+07,4.600000e+05,8500.000000,3.000000
75%,65.830000,2021.000000,6.327729e+07,5.690000e+05,9473.000000,3.000000
max,174.000000,2024.000000,6.333179e+07,2.259390e+06,21404.000000,7.000000

In [9]:
bloki2 = od_july[od_july['builttype'] == 'block']

## Zestawienie danych dla mieszkaÅ„ w blokach

In [10]:
bloki1.describe()

                 id         price   price_per_m           m
count  3.230000e+02  3.230000e+02    323.000000  323.000000
mean   7.590973e+08  4.755515e+05   8924.839195   53.282384
std    1.760225e+07  2.906047e+05   3734.824387   22.071846
min    6.235232e+08  1.100000e+05   3125.000000   22.000000
25%    7.564695e+08  3.500000e+05   7971.370000   43.000000
50%    7.654371e+08  4.150000e+05   8574.420000   48.000000
75%    7.686235e+08  4.994995e+05   9384.175000   57.620000
max    7.708270e+08  3.400000e+06  70833.330000  150.000000

In [11]:
bloki2.describe()

,m,build_year,id,price,price_per_m2,rooms
count,389.000000,389.000000,3.890000e+02,389.000000,389.000000,389.000000
mean,56.287044,1993.699229,6.302561e+07,477656.069409,8598.910026,2.791774
std,14.596209,99.460605,3.698071e+05,121423.980324,1277.272561,0.796470
min,25.780000,80.000000,6.111528e+07,235000.000000,4415.000000,1.000000
25%,47.200000,1980.000000,6.291695e+07,389000.000000,7794.000000,2.000000
50%,56.000000,2001.000000,6.314640e+07,459000.000000,8475.000000,3.000000
75%,64.900000,2021.000000,6.327348e+07,549000.000000,9327.000000,3.000000
max,135.670000,2024.000000,6.333143e+07,987484.000000,12778.000000,6.000000

## Wnioski
Jakie wykresy moÅ¼na z tego przygotowaÄ‡ w formie dashboardu?

- Dropdown - miesiÄ…c
    - Histogram cen
    - Histogram roku budowy
    - Histogram powierzchni
    - Pie chart pokojÃ³w

- Liniowy - przebieg Å›redniej ceny w czasie (potrzeba wiÄ™cej miesiÄ™cy i danych)

### Szkice wykresÃ³w w plotly

In [20]:
fig = px.histogram(pd.concat((bloki1['price'], bloki2['price'])), x='price', nbins=50)
fig.show()